#cabecalho{
    position: absolute;
    width: 593px;
    height: 232px;
    background-color: #FF9978;
    top:0px;
    left: 386px;
    z-index: 1;
}

#barradepesq{
    position: absolute;
    width: 324px;
    height: 38px;
    background-color: #ffffff;
    top:97px;
    left: 502px;    
    z-index: 2;
}
#barradepesqbotão{
    position: absolute;
    width: 36px;
    height: 38px;
    background-color: #676A71;
    top:97px;
    left: 826px;    
    z-index: 2;
}
#backgound{
    position: absolute;
    width: 593px;
    height: 368px;
    background-color: #ffffff;
    top: 232px;
    left: 386px;    
    z-index: 1;
}
#menu1{
    position: absolute;
    width: 105px;
    height: 26px;
    background-color: #CCCBC9;
    top: 266px;
    left: 458px;    
    z-index: 2;
}
#menu1-traço{
    position: absolute;
    width: 55px;
    height: 7px;
    background-color: #FFFFFD;
    top: 276px;
    left: 483px;    
    z-index: 3;
}
#menu2{
    position: absolute;
    width: 105px;
    height: 26px;
    background-color: #CCCBC9;
    top: 266px;
    left: 578px;    
    z-index: 2;
}
#menu2-traço{
    position: absolute;
    width: 55px;
    height: 7px;
    background-color: #FFFFFD;
    top: 276px;
    left: 603px;    
    z-index: 3;
}
#menu3{
    position: absolute;
    width: 105px;
    height: 26px;
    background-color: #CCCBC9;
    top: 266px;
    left: 698px;    
    z-index: 2;
}
#menu3-traço{
    position: absolute;
    width: 55px;
    height: 7px;
    background-color: #FFFFFD;
    top: 276px;
    left: 723px;    
    z-index: 3;
}
#menu4{
    position: absolute;
    width: 105px;
    height: 26px;
    background-color: #CCCBC9;
    top: 266px;
    left: 818px;    
    z-index: 2;
}
#menu4-traço{
    position: absolute;
    width: 55px;
    height: 7px;
    background-color: #FFFFFD;
    top: 276px;
    left: 843px;    
    z-index: 3;
}
#quadrado1{
    position: absolute;
    width: 123px;
    height: 123px;
    background-color: #FF9978;
    top: 327px;
    left: 423px;    
    z-index: 2;
}
#quadrado2{
    position: absolute;
    width: 123px;
    height: 123px;
    background-color: #E6E4E5;
    top: 327px;
    left: 555px;    
    z-index: 2;
}
#quadrado3{
    position: absolute;
    width: 123px;
    height: 123px;
    background-color: #92D3D9;
    top: 327px;
    left: 687px;    
    z-index: 2;
}
#quadrado4{
    position: absolute;
    width: 123px;
    height: 123px;
    background-color: #92D3D9;
    top: 459px;
    left: 423px;    
    z-index: 2;
}
#retangulo1{
    position: absolute;
    width: 255px;
    height: 123px;
    background-color: #FF9978;
    top: 459px;
    left: 555px;    
    z-index: 2;
}
#retangulo2{
    position: absolute;
    width: 123px;
    height: 255px;
    background-color: #E6E4E5;
    top: 327px;
    left: 819px;    
    z-index: 2;
}