#camada1{
    position: absolute; 
    background-color: blue;
    width:200px;
    height:100px;
    color: #FFF;
    text-align: center;
    top: 10px;
    left: 200px;
    z-index: 1;
}
#camada2{
    position: absolute; 
    background-color: red;
    width:800px;
    height:100px;
    color: #FFF;
    text-align: center;
    top: 10px;
    left: 400px;
    z-index: 1;
}
#camada3{
    position: absolute; 
    background-color: rgb(0, 255, 0);
    width:1000px;
    height:50px;
    color: black;
    text-align: center;
    top: 110px;
    left: 200px;
    z-index: 1;
}
#camada4{
    position: absolute; 
    background-color: yellow;
    width:980px;
    height:400px;
    color: black;
    border: 10px solid red;
    text-align: center;
    top: 160px;
    left: 200px;
    z-index: 1;
}
#camada5{
    position: absolute; 
    background-color: rgb(151, 151, 151);
    width:1000px;
    height:50px;
    color: black;
    text-align: center;
    top: 580px;
    left: 200px;
    z-index: 1;
}